{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Test Page for SelfDecode Simpler interface Project</title>

    <!-- Bootstrap and JQuery cdn imports -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style_backend.css' %}">
</head>
<body>
    <header class="header">
        <div class="top-header text-right">
            <a href="#">+1 (844) 822 8378</a>
            <a href="#">CONTACT US</a>
            <a href="#">LOGIN</a>
        </div>
        <div class="sticky-header navbar-light">
            <div class="row align-items-center">
                <div class="col-12 col-md-2 mobile-center">
                    <svg width="82" height="28" viewBox="0 0 82 28" alt="Visual Website Optimizer" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M66.822 0c7.91 0 14.32 6.182 14.32 13.808 0 7.626-6.41 13.808-14.32 13.808-6.66 0-12.26-4.386-13.86-10.326l1.27.795.658-.977c1.486 5.004 6.265 8.667 11.932 8.667 6.854 0 12.41-5.358 12.41-11.967 0-6.61-5.556-11.967-12.41-11.967-.586 0-1.163.04-1.728.116l1.2-1.782-.247-.154c.257-.013.515-.02.775-.02z" fill="#BF3078"></path><path fill="#802050" d="M52.503 0h14.32L47.73 27.616 40.57 17.26l-7.16 10.356-7.24-10.473 1.133-1.68 6.108 8.834 5.572-8.058 1.59-2.3 1.587 2.3 5.57 8.057L63.255 1.84H36.476L37.716 0"></path><path d="M19.092 27.616L0 0h38.184L19.092 27.616zm0-3.32L34.617 1.842H3.567l15.525 22.457z" fill="#26134D"></path></g>
                    </svg>
                </div>
                <div class="col-12 col-md-10 text-right">
                    <div class="mobile-center">
                        <a href="#"> PRODUCT</a>
                        <a href="#"> PRICING</a>
                        <a href="#"> SERVICES</a>
                        <a href="#"> RESOURCES</a>
                        <button class="btn btn-outline-primary">FREE TRIAL</button>
                        <button class="btn btn-success">REQUEST A DEMO</button>
                    </div>
                </div>
            </div>
            <div class="row align-items-center sticky-bottom mobile-hidden">
                <div class="col-12 col-md-2 mobile-right">
                    <a href="#">RESOURCES</a>
                </div>
                <div class="col-12 col-md-10 text-right">
                    <a href="#">EBOOKS</a>
                    <a href="#">WEBINARS</a>
                    <a href="#">CASE STUDIES</a>
                    <a href="#">BLOG</a>
                    <a href="#" ">KNOWLEDGE BASE</a>
                </div>
            </div>
            <button class="navbar-toggler collapsed for-mobile" type="button" data-toggle="navbar-collapse" data-target=".side-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </header>
    <div class="navbar-collapse side-collapse in for-mobile" id="mobileHomeMenu" aria-expanded="false" style="">
        <ul>
            <li>
                <a href="#">RESOURCES</a>
                <a href="#">EBOOKS</a>
                <a href="#">WEBINARS</a>
                <a href="#">CASE STUDIES</a>
                <a href="#">BLOG</a>
                <a href="#" ">KNOWLEDGE BASE</a>
            </li>
        </ul>
    </div>

    <div class="jumbotron jumbotron-fluid text-white text-center ab-test-title">
        
        <div class="container text-dark">
            <img src="{% static 'images/icon-significance-calc.png' %}" class="ab-calc-image">
            <h1>A/B Split Test Significance Calculator</h1>
            <p class="lead fade-in">A test page for SelfHacked Team</p>
        </div>
    </div>   

    <div class="body container text-center">
        <h1 class="text-dark">Are your results Significant?</h1>

        {% csrf_token %}
        <form id="significance_form" method="post">
        <div class="container form-container fade-in">
            <div class="row bg-white">
                <div class="col-4"></div>
                <div class="col-4 bg-grey">
                    <p class="text-orange">Control</p>
                </div>
                <div class="col-4 bg-grey">
                    <p class="text-blue">Variation</p>
                </div>
            </div>
            <div class="row bg-grey">
                <div class="col-4 bg-white">
                    <p class="text-muted">Number of Visitors</p>
                </div>
                <div class="col-4 bg-grey">
                    <input type="number" class="form-control" id="field1" name="control_visitors">
                </div>
                <div class="col-4 bg-grey">
                    <input type="number" class="form-control" id="field2" name="variation_visitors">
                </div>
            </div>
            <div class="row bg-grey">
                <div class="col-4 bg-white">
                    <p class="text-muted">Number of Conversions</p>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" id="field3" name="control_conversions">
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" id="field4" name="variation_conversions">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary submit-btn">
            <b>Calculate Significance</b>
        </button>
        </form>
    </div>

    <div class="results-section">
        <div class="arrow">
        </div>
        <div class="container results-container text-center">
            <div class="row align-items-center justify-content-md-center">
                <div class="col-12 col-md-3">
                    <div class="col">
                        <h4 class="text-blue">P-Value</h4>
                    </div>
                    <div class="col">
                        <h3 class="display-6 text-muted" id="p_value">0</h3>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="col">
                        <h4 class="text-blue">Significance</h4>
                    </div>
                    <div class="col">
                        <h3 class="display-6 text-muted" id="significance">Yes!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="demo-section">
        <div class="jumbotron jumbotron-fluid text-center">
            <h4>SCHEDULE A PERSONALIZED DEMO</h4>
            <p class="lead">Get in touch with us for a detailed walk-through of SelfDecode.</p>
            <button type="button" class="btn btn-primary btn-lg">Request a Demo</button>
        </div>
    </div>

    <footer class="jumbotron jumbotron-fluid text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-2 col-md-1 text-left">
                    <svg viewBox="0 0 88 30" width="100%" height="100%">
                      <g fill="#FFF" fill-rule="evenodd">
                        <path d="M71.754 0c8.49 0 15.377 6.716 15.377 15 0 8.284-6.882 15-15.376 15C64.6 30 58.59 25.236 56.87 18.783l1.364.863.707-1.062C60.537 24.02 65.67 28 71.756 28c7.36 0 13.326-5.82 13.326-13S79.117 2 71.756 2c-.63 0-1.25.042-1.857.125L71.188.19 70.92.02c.276-.015.554-.022.832-.022"></path>
                        <path d="M56.38 0h15.377L51.254 30l-7.688-11.25L35.878 30l-7.775-11.377 1.216-1.826 6.558 9.597 5.983-8.753 1.707-2.495 1.706 2.496 5.983 8.754L67.926 2H39.172l1.332-2h15.88"></path>
                        <path d="M20.502 30L0 0h41.002L20.5 30m0-3.606L37.17 2H3.83L20.5 26.395"></path>
                      </g>
                    </svg>
                </div>
                <div class="col-10 social-icons text-right">
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-google-plus"></i>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-6 col-md">
                    <div class="footer-title">PRODUCT</div>
                    <ul>
                    <li><a href="#">CRO Platform</a></li>
                    <li><a href="#">Track</a>
                        <ul>
                            <li><a href="#">Goals</a></li>
                            <li><a href="#">Funnels</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Analyze</a>
                        <ul>
                            <li><a href="#">Heatmaps</a></li>
                            <li><a href="#">Visitor Recordings</a></li>
                            <li><a href="#">Form Analysis</a></li>
                            <li><a href="#">On-page Surveys</a></li>
                        </ul>
                    </li>

                </ul>
                </div>
                <div class="col-6 col-md">
                    <div class="footer-title empty-title"><br></div>
                    <ul >
                    <li ><a href="#">Plan</a>
                        <ul >
                            <li><a href="#">Observations</a></li>
                            <li><a href="#">Hypotheses</a></li>
                        </ul>
                    </li>
                    <li ><a href="#">Test</a>
                        <ul >
                            <li><a href="#">A/B Tests</a></li>
                            <li><a href="#">Multivariate Tests</a></li>
                            <li><a href="#">Split URL Tests</a></li>
                        </ul>
                    </li>
                    <li ><a href="#">Target</a>
                        <ul >
                            <li><a href="#">Personalization</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
                <div class="col-6 col-md">
                    <div class="footer-title">RESOURCES</div>
                    <ul >
                    <li><a href="#">VWO vs. Optimizely</a></li>
                    <li><a href="#">VWO vs. Google Optimize</a></li>
                    <li><a href="#">Knowledge base</a></li>
                    <li><a href="#">Case Studies</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Videos &amp; Webinars</a></li>
                    <li><a href="#">Free tools</a></li>
                    <li><a href="#">Guides &amp; eBooks</a></li>
                    <li><a href="#">Ecommerce</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                    <div class="footer-title">POPULAR CONTENT</div>
                    <ul >
                    <li><a href="#">A/B Testing Guide</a></li>
                    <li><a href="#">Ultimate Guide to CRO</a></li>
                    <li><a href="#">Bayesian Statistics</a></li>
                    <li><a href="#">Significance Calculator</a></li>
                    <li><a href="#">Duration Calculator</a></li>
                </ul>
                </div>
                <div class="col-6 col-md">
                    <div class="footer-title">ABOUT SELFDECODE</div>
                    <ul >
                    <li><a href="#">About us</a></li>
                    <li><a href="#">GDPR</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Team Blog</a></li>
                    <li><a href="#">Engineering Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                </div>
            </div>
            <hr class="bg-grey">
            <div class="row copyright">
                <div class="col-12 col-md-10 text-left">
                    <a href="#">© 2018 Copyright Wingify. All rights reserved</a>
                    |
                    <a href="#">Terms of use</a>
                    |
                    <a href="#">Security</a>
                    |
                    <a href="#">Privacy</a>
                    |
                    <a href="#">Opt-out</a>
                </div>
                <div class="col-12 col-md-2 text-right">
                    Wingify
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
    /* Header on scroll */
    window.onscroll = function() {myFunction()};

    var header = $(".sticky-header");
    var content = $('.ab-test-title');
    var sticky = header.offset().top;
    var sticky_bottom = header.height();
    var sideslider = $('[data-toggle=navbar-collapse]');
    var sel = sideslider.attr('data-target');
    var menu = $(sel);

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            header.addClass("sticky");
            content.css("margin-top", sticky_bottom + "px");
            menu.css("top", header.height() + "px");
        } else {
            content.css("margin-top", "0px");
            menu.css("top", (header.height() + sticky) + "px");
            header.removeClass("sticky");
        }
    }

    $(document).ready(function() {
    /* Animation purpose only */
    $(".fade-in").fadeIn(900);

    /* Significance Ajax Request */
    $(".submit-btn").click(function(){
        $("#significance_form").submit()
    });

    $("#significance_form").on("submit", function(event){
        event.preventDefault();
        console.log($(this).serialize());
        significance_request($(this).serialize())
    })

    sideslider.click(function(event){
        $(sel).toggleClass('in');
    });

    /* Ajax and Django initialization */
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function significance_request(form){
        $.ajax({
            type:"POST",
            url:"{% url 'index:backend_test' %}",
            data: form,
        }).done(function(data){
            var p_value = Math.round(data['p_value'] * 1000)/ 1000
            $('.results-section').fadeIn(800);
            $('#p_value').text(p_value);
            if (p_value < 0.1 || p_value > 0.9){
                $('#significance').text('Yes!')
            }else{
                $('#significance').text('No')
            }
        }).fail(function(data){
            if (data['responseJSON']){
                alert(data['responseJSON']['msg'])
            }else{
                alert(JSON.stringify(data) + ' status:' + data.status)
            }
        })
    }
    })

    </script>
</body>
</html>