{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase page for SelfDecode Simpler interface Project</title>

    <!-- Bootstrap and JQuery cdn imports -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header login"></div>

    <div class="form login container fade-in" style="display: none;">
        <div class="form-header login row align-items-center" align="center">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <br class="hide-on-screen-x"><br class="hide-on-device hide-on-screen-x">
                        <div class="form-title">PURCHASE SELF DECODE</div><br>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-3 col-sm-4 col-md-4" align="right" style="margin-top: 10px">
                        <label>CHOOSE:</label>
                    </div>
                    <div class="col-9 col-sm-8 col-md-8" align="left">
                        <button type="button" class="btn btn-primary form-card" style="border-radius: 4px; border: none !important;">CREDIT CARD</button> 
                        <a href="#"><img src="{% static 'images/paypal_btn.png' %}" width="105px" height="auto" class="paypal-login"/></a>
                    </div>
                </div>
                <br><br class="hide-on-device">
            </div>
        </div>

        <div class="form-content login row align-items-center">
            <div class="bg-card-container"></div>

            <div class="card-form-container">
                <br><br class="hide-on-device">
                <form>
                    <br>
                    <div class="row align-items-center" style="margin-top: 5px">
                        <div class="col-5" align="right" style="padding: 0;">
                            <label>Card Number</label>
                        </div>
                        <div class="col-7" align="lef">
                            <input type="text" class="form-control" id="cardNumber" aria-describedby="cardNumber" placeholder="xxxx-xxxx-xxxx-xxxx">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-5" align="right" style="margin-top: 10px">
                            <label>Expiry</label>
                        </div>
                        <div class="col-3 col-md-2" style="padding-right: 2px;">
                            <input type="text" class="form-control" placeholder="DD">
                        </div>
                        <div class="col-3 col-md-2" style="padding-left: 2px;">
                            <input type="text" class="form-control" placeholder="YY">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col">
                            <input type="text" class="form-control" id="cardHolderName" placeholder="Cardholder Name">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="card-text-container">
                <img src="{% static 'images/lock.png' %}" width="10px" height="auto" style="margin-bottom: 4px"/> Ordering with SelfDecode is 100% safe and secure
            </div>
        </div>

        <div class="form-footer login row align-items-center" align="center">
            <div class="col">
                <button type="button" class="btn btn-outline-primary form-gob">GO BACK</button>
                <button type="button" class="btn btn-primary form-purchase">PURCHASE</button>
            </div>
        </div>
    </div>

    <div class="footer login">
        <div class="footer-content login" align="center">
            <a href="#"> About SelfDecode </a> 
            <a href="#"> Terms of Service </a> 
            <a href="#"> Privacy Policy </a> 
            <a href="#"> Help </a> 
            <a href="#"> IPhone App </a> 
            <a href="#"> Android App </a> 
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".fade-in").fadeIn(900);
        });
    </script>
</body>
</html>