{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase page for SelfDecode Simpler interface Project</title>

    <!-- Bootstrap and JQuery cdn imports -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header login"></div>

    <div class="page-content row align-items-center">
        <div class="col-6 col-md-3 section first done-section">
            <div class="section-content">
                <div class="btn rounded-button section-btn">
                    <div class="btn-text">1</div>
                </div>
                <div class="sub-btn">
                    <div class="section-title">GENE FILE</div>
                </div>
                <div class="sub-btn">
                    <div class="section-text">UPLOAD YOUR GENE FILE</div>
                </div>
                <div class="sub-btn section-footer">
                    <img src="{% static 'images/check_orange.png' %}" width="40px" height="auto"/>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 section current-section">
            <div class="section-content">
                <div class="btn rounded-button section-btn">
                    <div class="btn-text">2</div>
                </div>
                <div class="sub-btn">
                    <div class="section-title">SYMPTOMS</div>
                </div>
                <div class="sub-btn">
                    <div class="section-text">
                        ENTER YOUR SYMPTOMS<br><br class="hide-on-device">
                        SEVERITY RATINGS<br><br class="hide-on-device">
                        OVERAL WELLBEING<br><br class="hide-on-device">
                    </div>
                </div>
                <div class="sub-btn section-footer">
                    START
                    <img src="{% static 'images/arrow_right.png' %}" width="15px" height="auto"/>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 section">
            <div class="section-content">
                <div class="btn rounded-button section-btn">
                    <div class="btn-text">3</div>
                </div>
                <div class="sub-btn">
                    <div class="section-title">RECOMMENDATION</div>
                </div>
                <div class="sub-btn">
                    <div class="section-text">
                        INFORMATION<br><br class="hide-on-device">
                        RICING<br><br class="hide-on-device">
                        HOW TO PURCHASE<br><br class="hide-on-device">
                    </div>
                </div>
                <div class="sub-btn section-footer">
                    <img src="{% static 'images/white_lock.png' %}" width="25px" height="auto"/>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 section">
            <div class="section-content">
                <div class="btn rounded-button section-btn">
                    <div class="btn-text">4</div>
                </div>
                <div class="sub-btn">
                    <div class="section-title">WEEK ONE</div>
                </div>
                <div class="sub-btn">
                    <div class="section-text">
                        DAY 1-7<br><br class="hide-on-device">
                        WEEK REVIEW<br><br class="hide-on-device">
                    </div>
                </div>
                <div class="sub-btn section-footer">
                    <img src="{% static 'images/white_lock.png' %}" width="25px" height="auto"/>
                </div>
            </div>
        </div>
    </div>

    <div class="footer login">
        <div class="footer-content login">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 offset-0 offset-md-1">
                    <div class="sections-text">SECTIONS</div>
                    <div class="btn rounded-button done-section">1</div>
                    <div class="btn rounded-button current-section">2</div>
                    <div class="btn rounded-button section">3</div>
                    <div class="btn rounded-button section">4</div>
                    <div class="btn rounded-button section">5</div>
                    <div class="btn rounded-button section">6</div>
                </div>
                <div class="col-12 col-md-2 offset-0 offset-md-1 offset-lg-3 user-section">
                    <div class="user-image btn rounded-button" style="width: 15px; height: 15px;"></div>
                    User: <a href="#">Charlie-Jorge Samways</a>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".fade-in").fadeIn(900);
        });
    </script>
</body>
</html>