{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase page for SelfDecode Simpler interface Project</title>

    <!-- Bootstrap and JQuery cdn imports -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header login"></div>

    <div class="form signin container fade-in" style="display: none;">
        <div class="row extern align-items-center" align="center">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="form-title">WELCOLME TO<br>SELF DECODE</div><br>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col header-text blue" align="center" style="margin-top: 10px">
                        SIGN IN TO VIEW YOUR PROGRESS:
                    </div>
                </div>
            </div>
        </div>

        <div class="row extern align-items-center">
            <div class="col-12">
                <form>
                    <br>
                    <div class="row align-items-center" style="margin-top: 5px">
                        <div class="col" align="lef">
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col" align="right" style="margin-top: 10px">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>

        <div class="row extern align-items-center signin-footer" align="center">
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary form-signin">SIGN IN</button>
            </div>
            <div class="col-12" style="margin: 4% 0;"> <hr style="width: 45%; float: left;"><div class="blue" style="width: 10%; float: left;"> or </div><hr style="width: 45%; float: left;"></div>
            <div class="col-12">
                <button type="button" class="btn btn-primary form-purchase">PURCHASE ACCOUNT</button>
            </div>
            <div class="col-12 signin-bottom blue">
                Forgot your <a href="#"> password? </a>
            </div>
        </div>
    </div>

    <div class="footer login">
        <div class="footer-content login" align="center">
            <a href="#"> About SelfDecode </a> 
            <a href="#"> Terms of Service </a> 
            <a href="#"> Privacy Policy </a> 
            <a href="#"> Help </a> 
            <a href="#"> IPhone App </a> 
            <a href="#"> Android App </a> 
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".fade-in").fadeIn(900);
        });
    </script>
</body>
</html>