.jumbotron .container p{
    display: none;
}

.jumbotron.ab-test-title{
    background: #dbe0ea url(./backend_title_svg.svg) no-repeat;
    background-size: cover;
    background-position: center right;
}

.body{
    padding: 20px 5%;
}

.body h3{
    color: #8c8c8c;
}

.form-container{
    display: none;
    border-radius: 4px;
    border: solid 1px #eee;
    margin: 30px;
}

.for-mobile{
    display: none !important;
}

.body.container{
    padding: 0;
    margin-bottom: 30px;
}

.bg-grey{
    background-color: #d8dde3;
}

.bg-white{
    background-color: white;
}

.form-container .col{
    padding: 10px 4%;
}

.form-container .row .col-4{
    padding: 10px;
}

.form-container .row .col:nth-child(1){
    background-color: #eee;
}

.form-container p{
    margin: 0;
    padding: 10px 5px 15px 5px;
    font-weight: bold;
}

.text-dark{
    color: #414954 !important;
}

/* Sticky header */
.header {
    width: 100%;
    color: #f1f1f1;
    overflow-x: hidden;
}

.sticky-header{
    z-index: 2;
}

.top-header, .sticky-header .row{
    padding: 0px 16%;
}

.sticky-header .btn{
    font-size: .8rem !important;
    font-weight: bold;
}

.sticky-header a{
    font-size: 0.82rem;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1.4px;
    color: #6e7680;
    padding: 18px 15px;
    box-shadow: inset rgba(0, 0, 0, 0) 0 -3px 0;
    transition: 0.25s ease;
    text-decoration: none;
}

.sticky-header a:hover{
    text-decoration: none;
    color: #40454d;
    box-shadow: inset #788290 0 -3px 0;
}

.sticky-header .sticky-bottom a:hover{
    color: white;
}

.top-header{
    color: #8b95a1;
    font-weight: bold;
}

.top-header a{
    color: #8b95a1;
    padding: 0px 20px;
    margin: 14px 0px 4px;
    font-size: 0.77rem;
    font-weight: bold;
    line-height: 12px;
    border-right: 1px solid #d8dde3;
}

.top-header a:last-child{
    border-right: none;
}

.top-header a:hover{
    color: white;
}

.sticky-header .row:nth-child(2), .sticky-header .row:nth-child(3){
    background: #1f2532;
}

.sticky-header .row:first-child{
    background: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.col-4 p{
    padding: 8px;
}

.btn.submit-btn, .form-container{
    box-shadow: 9.2px 10.6px 21px 0 rgba(0, 0, 0, 0.17);
}

.form-container input.form-control{
    width: 85%;
    margin: auto;
}

.btn.submit-btn{
    padding: 15px;
}

.results-section{
    width: 100%;
    background-color: #32425b;
    padding: 0 10% 15px 10%;
    margin-top: 30px;
    display: none;
}

.text-blue{
    color: #3892e3;
}

.text-orange{
    color: #f58d3f;
}

.demo-section .jumbotron{
    margin: 0 !important;
    background-color: #2b3945;
    color: white;
}

.demo-section .jumbotron p{
    color: #d9dde1 ;
}

.results-section .row .col-12 .col:first-child{
    border-radius: 4px 4px 0 0;
    background-color: white;
}

.results-section .row .col-12 .col:last-child{
    border-radius: 0 0 4px 4px;
    background-color: #d8dde3;
}

.results-section .row .col-12 .col{
    padding: 30px;
}

.results-section .row .col-12{
    padding: 20px;
}

.results-container{
    margin: 30px 0;
}

.arrow{
    content: '';
    background: url(../images/L2-down-arrow.png) no-repeat;
    width: 93px;
    height: 39px;
    left: calc(50% - 46px);
    z-index: 1;
    margin: auto;
}

.ab-calc-image{
    max-width: 100%;
    margin: 30px;
}

footer.jumbotron{
    margin: 0;
    background-color: #1f2532;
}

footer ul li a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
}

footer ul>li>ul:before{
    content: '';
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    width: 1px;
    bottom: 7px;
    top: 8px;
    position: absolute;
    left: 0;
}

footer ul{
    list-style: none;
    padding: 5px;
}

footer ul>li>a:hover{
    color: white;
}

footer ul>li>ul{
    position: relative;

}

footer ul>li>a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
}

footer ul li ul li{
    padding-left: 10px;
    line-height: 1.5rem;
}

footer .footer-title{
    font-size: .87rem;
    margin: 20px 0 10px 0;
}

footer .copyright{
    font-size: .8rem;
}

footer .copyright a{
    color: white;
}

footer .copyright a{
    padding: 10px;
}

footer .social-icons{
    font-size: 1.2rem;
}

footer i{
    margin: 0 10px;
}

footer .copyright a:last-child{
    border-right: none;
}

/* Media Queries */
@media only screen and (max-width: 515px) {
    .top-header{
        padding: 8px 8%;
    }

    .sticky-header .row{
        padding: 8px 0;
    }

    .sticky-bottom.row a{
        padding: 10px 6px;
    }

    .mobile-center{
        text-align: center !important;
    }

    .mobile-right{
        text-align: right;
    }

    .demo-section .jumbotron h4, .demo-section .jumbotron p{
        padding: 4% 10%; 
    }

    .mobile-hidden{
        display: none !important;
    }

    .for-mobile{
        display: initial !important;
    }

    .navbar-toggler{
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .sticky .navbar-toggler{
        top: 10px;
        right: 30px;
    }

    .navbar-collapse{
        background-color: #263947;
        position: absolute;
    }

    .navbar-collapse ul{
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-collapse ul>li>a{
        color: #d8dde3;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        letter-spacing: 2px;
        padding: 22px 15px 22px 40px;
        position: relative;
        display: block;
    }

    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        right: 0;
        z-index: 4;
        width: 60vw;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
    }
    .side-collapse.in {
        width:0;
    }

    footer{
        padding: 6% 4% !important;
    }
}