@font-face {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: bold;
  src: local('Futura Std'), url('Futura_Std_Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std'), url('Futura_Book_font.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: 500;
  src: local('Futura Std'), url('futura_medium_bt.ttf') format('truetype');
}

.btn, button, body, label{
    font-family: 'Futura Std', serif !important;
    font-size: .9vw !important;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/login_background.jpg');
    background-repeat: no-repeat;
    background-size: 102% 90%;
    overflow: hidden;
    letter-spacing: 0.1em;
}

.login input{
    padding: 4px;
    font-size: .75vw;
    border: solid 2px !important;
}

.orange{
    color: #f68411;
}

.blue{
    color: #006289;
}

.light-blue{
    color: #007bff;
}

.centered{
    margin: auto;
}

.card-form-container label{
    color: gray;
}

.header, .footer{
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.header{
    top: 0;
    height: 75px;
    background-image: url('../images/selfdecode_logo.png');
    background-repeat: no-repeat;
    background-position: 4vw 3vh;
}

.footer{
    bottom: 0;
    height: 9vh;
    background: white;
    display: table;
}

.btn.rounded-button{
    border-radius: 90% !important;
    border: solid 2px;
}

.btn.rounded-button.overview-btn{
    color: #006289;
    background-color: #006289;
    padding: 16px 22px !important;
}

.btn.rounded-button.overview-btn .btn-text{
    color: white; 
}

.rounded-button.overview-btn{
    margin-top: -3%;
}

.overview-step-text{
    margin-top: 2%;
}

.overview-step-text, .overview-step-text div{
    display: inline-block;
}

.overview-step-text .step-title.orange{
    font-weight: 500;
}


.overview-step-text .step-title.orange,.overview-step-text .symptom-sub-title{
    font-size: .8rem;
}

.footer .btn.rounded-button, .footer .sections-text{
    padding: 5px 9px !important;
    font-size: .78rem !important;
    margin: 1.2vw !important;
}

.footer-content{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.footer-content a, .rounded-button, .footer-content{
    color: #01a6b4;
    margin-right: 1.5vw;
}

.form.signin{
    background-color: white;
    width: 28vw;
    margin: auto;
    margin-top: 12vh;
    border-radius: 4px;
}

.form.login{
    background-color: white;
    width: 31vw;
    height: 78vh;
    margin: auto;
    margin-top: 7vh;
    border-radius: 4px;
    box-shadow: 9.2px 10.6px 21px 0 rgba(0, 0, 0, 0.17);
}

.step-container, .step-content-container, .symptoms-container{
    margin-top: 10vh;
    border-radius: 4px;
    width: 40vw;
    overflow: hidden !important;
}

.step-content-container.no-image, .symptoms-container{
    margin-top: 15%;
}

.unselected{
    color: gray !important;
}

.step-content-container{
    background-color: #f4f7fb;
    padding: 8% 6%;
}

.form-header.login{
    height: 29%;
}

.form-footer.login{
    height: 15%;
}

.form-content.login{
    position: relative;
    height: 56%;
    background: linear-gradient(to right, #006b8f , #0198ab);
    border-radius: 4px;
}

.bg-card-container, .card-form-container{
    position: absolute;
    width: 22vw;
    min-height: 27.5vh;
    max-height: 68%;
    border-radius: 4px;
    box-shadow: 9.2px 10.6px 21px 0 rgba(0, 0, 0, 0.17);
}

.bg-card-container{
    background-color: #f68411;
    background-image: url('../images/login_card.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 7vw;
    margin-top: -3.5vh;
}

.card-form-container{
    background-color: white;
    margin-left: 2vw;
    margin-top: .3vh;
    padding: 0px 20px 0px 20px;
}

.card-text-container{
    position: absolute;
    bottom: 26px;
    color: white;
    width: 100%;
    text-align: center;
}

.signin .extern.row{
    padding: 0 10%;
}

.signin input{
    opacity: .15;
    border: solid 2px !important;
    padding: 
}

.signin-footer{
    margin-bottom: 4%;
}

.footer.login{
    font-size: .85rem;
}

.login .form-title, .signin .form-title{
    color: #f68411;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 8vh;
    letter-spacing:.1em !important;
}

.signin .form-title{
    margin-top: 12%;
}

.signin-bottom{
    margin-bottom: 12%;
    margin-top: 3%;
    font-style: italic;
    font-size: .72vw;
    font-weight: 500;
}

.login .form-purchase.btn, .signin .form-signin.btn{
    background-color: #f68411;
    border-color: #f68411;
    border: solid 3px #f68411 !important;
}

.signin .form-signin.btn, .signin .form-purchase.btn{
    width: 100%;
}

.signin .form-signin.btn{
    color: white;
}

.login .form-card{
    background-color: #006289;
}

.form-header label, .btn, .signin .header-text{
    font-size: .92vw !important;
}

.btn{
    letter-spacing: .1em !important;
    padding: 12px 22px 12px 22px !important;
}

.form-header.login .btn{
    margin: 0px 15px 0px 15px;
}

.form-footer.login .btn{
    margin: 15px;
    width: 38%;
}

.btn, input{
    border: solid 3px !important;
    font-weight: bold;
}

.form-content.login input, .form-content.login label{
    opacity: .12;
}

.btn{
    font-weight: bold !important;
}

label{
    font-weight: 500;
}

.login .btn.form-gob, .signin .btn.form-purchase{
    color: #006289;
    border-color: #006289;
    border: solid 3px #006289 !important;
}

.signin .btn.form-purchase{
    background-color: transparent;
}

.form-footer.login{
    padding: 6px 0px 10px 0px;
}

.login .form-title{
}

.hide-on-screen-x{
    display: none;
}

.paypal-login{
    width: 6vw;
}

.footer .sections-text{
    color: #01a6b4;
    display: inline;
    font-weight: 500;
    font-size: .9rem !important;
    padding-bottom: 0 !important;
    margin-left: 0 !important;
}

.footer .section{
    color: gray !important;
    border: none !important;
    opacity: 0.4;
}

.page-content{
    height: 100vh;
    z-index: 0;
    overflow-y: scroll;
}

.page-content .section{
    height: 100%;
    background-color: #005b77;
    text-align: center;
    position: relative;
}

.section.done-section{
    background-color:  #eaf2f3;
}

.section-btn{
    padding: 2.6vw 3.2vw !important;
    font-size: 1.6vw !important;
    border: solid 2px !important; 
}

.section .section-content{
    margin-top: 60%;
}

.section .btn.rounded-button{
    margin: 0 !important;
}

.done-section .btn.rounded-button{
    color: #006289;
    background-color: #006289;
}

.done-section .btn-text{
    color: white;
}

.current-section .btn.rounded-button{
    color: #eaf2f3;
    background-color: #eaf2f3;
    border: solid 1px !important;
}

.step-separation{
    margin: 4%;
}

.star-rating, .step-separation-small{
    margin: 1%;
}

.current-section .btn-text{
    color: #f68411;
}

.section .rounded-button{
    color: #7facba;
}

.sub-btn{
    margin-top: 4vh;
    margin-bottom: 2vh; 
    font-weight: bold;
}

.section .sub-btn .section-title, .section .section-text{
    color: #7facba;
    font-size: .72vw;
}

.section-footer{
    font-size: .7vw;
}

.done-section .sub-btn .section-title{
    color: #006289;
}

.current-section .sub-btn .section-title, .current-section .section-text{
    color: white;
}

.done-section .section-text{
    color: #f68411;
}

.section .section-text{
    font-weight: 400;
}

.overview-container{
    margin-left: 4%;
    margin-top: 12vh;
}

.section-footer{
    position: absolute;
    bottom: 14vh;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.overview-separation{
    margin-top: 6%;
}

.footer .done-section{
    background-color: #f68411;
    color: white;
}

.footer .current-section{
    color: #f68411;
    border: solid 2px !important;
}

.footer .user-section{
    color: gray;
}

.footer .user-section{
    font-size: .65vw
}

.footer .user-section a{
    font-size: .52vw;
}

.footer .user-image{
    color: gray;
    background-color: gray;
}

.footer .user-section .btn.rounded-button{
    padding: 14px 14px !important;
    margin: 0px 10px !important;
}

.signin .header-text{
    font-weight: 500;
    font-size: .82vw;
    color: #5596b0;
}

.finished-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.step-title{
    font-weight: bold;
    font-size: .9rem;
}

.step-title.symptom{
    color: #01a6b4;
    font-weight: normal;
    font-size: 1rem;
}

.step-sub-title{
    color: grey;
    font-weight: 400;
    font-size: .8rem;
}

.symptom-sub-title{
    color: grey;
    font-weight: 500;
    font-size: .85rem;
    margin-bottom: -4px;
    margin-top: 2%;
}

.first.current-section{
    background-color: #01a6b4 !important;
}

.footer .rounded-button.section:hover{
    border: 1px solid !important;
}

.footer .rounded-button.current-section:hover{
    background-color: #f68411;
    color: white;
}

.footer .rounded-button.done-section:hover{
    background-color: white;
    color: #f68411;
}

@media only screen and (max-width: 767px) {
    .hide-on-device{
        display: none;
    }

    .hide-on-screen-x{
        display: initial;
    }

    .header{
        height: 75px;
    }
    .footer{
        height: 9vh;
    }

    .btn, button, label, input, body{
        font-size: 0.75rem !important;
    }

    .form.login{
        width: 70vw;
        height: 68vh;
        margin-top: 14vh;
    }

    .login .form-title{
        margin-top: 10px;
        font-weight: bolder;
        font-size: 1.28em !important;
    }

    .bg-card-container, .card-form-container{
        position: absolute;
        width: 57vw;
        min-height: 26vh;
        border-radius: 4px;
    }

    .step-container, .step-content-container, .symptoms-container{
        width: 66vw;
    }

    .bg-card-container{
        margin-left: 9vw;
        margin-top: -4vh;
    }

    .card-form-container{
        margin-left: 3.2vw;
    }

    .btn{
        padding: 4px 6px 4px 6px !important;
    }

    .form-footer.login .btn{
        margin: 8px;
        width: 38%;
    }

    .card-text-container{
        font-size: .45rem !important;
        font-weight: 500;
        bottom: 8px;
    }

    .form-header label, .btn{
        font-weight: bold !important;
        font-size: .66rem !important;
    }

    .form-header.login .btn{
        margin: 0px 4px 0px 4px;
    }

    .paypal-login{
        width: 75px;
    }

    .form-footer.login{
        padding-bottom: 3px 0px 5px 0px;
    }

    .form-content.login label{
        opacity: .5
    }

    .footer .user-section{
        font-size: 1rem
    }

    .footer .user-section a{
        font-size: 1rem;
    }

    .footer .footer-content .col, .footer .footer-content .row{
        background-color: white;
        margin-bottom: 8px;
    }

    .section .sub-btn .section-title, .section .section-text{
        font-size: 1rem;
        padding: 10px;
    }

    .section-footer{
        font-size: 1rem;
    }

    .section-btn{
        padding: 16px 22px !important;
        font-size: 1.2rem !important;
    }
}